@import './card-component.css';

/* 카드 레이아웃 */
.main-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
.sub-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  @media (width>=1024px) {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
  }
}
